<h1><%= pluralize(@movies.size, "Movie") %></h1>

<ul>
  <% @movies.each do |movie| %>
    <h2><%= movie.title %></h2>
    <li><%= movie.rating %></li>
    <li><%= movie.description %></li>
    <li><%= movie.released_on %></li>
    <li><%= number_to_currency(movie.total_gross) %></li>
  <% end %>
</ul>